annotated-types==0.7.0
anyio==4.6.2.post1
asgiref==3.8.1
asttokens==2.4.1
av==12.3.0
blinker==1.9.0
captacity==0.3.1
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
cpu-monitor==0.3
ctranslate2==4.5.0
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash_renderer==1.9.1
decorator==4.4.2
distro==1.9.0
Django==5.1.3
django-embed-video==1.4.10
easy-thumbnails==2.10
executing==2.1.0
faster-whisper==1.0.3
ffmpeg==1.4
ffmpeg-python==0.2.0
filelock==3.16.1
Flask==3.0.3
flatbuffers==24.3.25
fsspec==2024.10.0
future==1.0.0
GPUtil==1.4.0
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.26.2
humanfriendly==10.0
idna==3.10
imageio==2.36.0
imageio-ffmpeg==0.5.1
importlib_metadata==8.5.0
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.7.0
littleutils==0.2.4
llvmlite==0.43.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
more-itertools==10.5.0
moviepy==1.0.3
mpmath==1.3.0
nest-asyncio==1.6.0
networkx==3.4.2
numba==0.60.0
numpy==2.0.2
nvidia-smi==0.1.3
ollama==0.3.3
onnxruntime==1.20.0
openai==1.54.3
openai-whisper==20240930
opencv-python==4.10.0.84
packaging==24.2
paperclip==2.7.2
pillow==11.0.0
plotly==5.24.1
pluggy==1.5.0
proglog==0.1.10
protobuf==5.28.3
psutil==6.1.0
py-cpuinfo==9.0.0
pydantic==2.9.2
pydantic_core==2.23.4
pydub==0.25.1
Pygments==2.18.0
pyperclip==1.9.0
pytest==8.3.3
python-magic==0.4.27
pytubefix==8.3.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
retrying==1.3.4
rich==13.9.4
six==1.16.0
sniffio==1.3.1
sorcery==0.2.2
sqlparse==0.5.1
sympy==1.13.1
tenacity==9.0.0
tiktoken==0.8.0
tokenizers==0.20.3
torch==2.5.1
tqdm==4.67.0
typing_extensions==4.12.2
urllib3==2.2.3
webrtcvad==2.0.10
Werkzeug==3.0.6
whisper==1.1.10
wrapt==1.16.0
zipp==3.20.2
